@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap"); */

@font-face {
  font-family: DINNextLTArabic;
  src: url(fonts/DINNextLTArabic-Regular.ttf);
}
@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

body {
  color: #ffffff;
  font-family: DINNextLTArabic;
}
.button {
  background-color: #3a5ca9;
  box-shadow: 7px 6px 21px 0px #3a5ba92f;
  transition: 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.2);
}

#hero {
  background-image: url(img/hero.webp);
  min-height: 90vh;
  background-attachment: fixed;
}

#hero .overlay {
  background-color: transparent;
  background-image: linear-gradient(270deg, #80d0e0 30%, rgba(0, 0, 0, 0) 70%);
  min-height: 90vh;
}
#hero .overlay div:first-child {
  min-height: 90vh;
}

.custom-shape-divider-bottom-1665324878 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665324878 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 132px;
}

.custom-shape-divider-bottom-1665324878 .shape-fill {
  fill: #ffffff;
}

.navBar {
  border-bottom: 1px solid #ffffff3a;
}
.navBar .navItems a {
  position: relative;
}

.navBar .navItems a::before {
  content: "";
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 15px), 0 100%);
  transition: 1s;
}

.navBar .navItems a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: calc(100% + 25px);
  z-index: -1;
  background-color: #ff2660 !important;
  border-color: #ff2660 !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 15px), 0 100%);
}

.navBar .navItems a:active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: calc(100% + 25px);
  z-index: -1;
  background-color: #ff2660 !important;
  border-color: #ff2660 !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 15px), 0 100%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a5ca9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #80d0e0;
}

.line {
  height: calc(100% + 32px);
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
